<ion-view view-title="create-App">

    <ion-content>
        <div id="main-logo-block">
         <button style="float:left;font-size:35px; padding-left:5px; color:grey;" class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
            <div class="hexagon">
               <span>
                   <img src="img/logo-60x54.png"/>
               </span>
            </div>
            <div class="login">
               <span>
                     <h1>Nouvelle Application</h1>
               </span>
            </div>
        </div>
        <section>
        <div id="social-login" class="col-xs-12 col-sm-12 social-login"></div>
    </section>
    <section class="row">

        <div class="alert alert-danger" role="alert" id="error_block" style="text-align:center;display:none;">
            <h2 style="height:0%">Erreur:</h2>
            <p id="error_message" style="height:0%"></p>
        </div>

        <div class="img-responsive"  id="uploading" style="display:none;width:100px;height:69px;text-align:center;margin: 0 auto">
            <ion-spinner icon="android" class="spinner-energized"></ion-spinner>
            <br>Envoi en cours...
        </div>
    </section>
    <section >
        <div class="list list-inset">
            <label class="item item-input">
                <i class="icon ion-email placeholder-icon"></i>
                <input name="appName" type="text" placeholder="Nom de l'application" ng-model="loginData.appName">
            </label>
            <label class="item item-input">
                <i class="icon ion-locked placeholder-icon"></i>
                <input class="input-file" id="my-file" type="file">
                    <label for="my-file" class="input-file-trigger" tabindex="0">Select a file...</label>
            </label>
            <p class="file-return"></p>
        </div>
        <div class="padding">
            <button type="button" class="button button-block button-positive" ng-click="#">Creer mon Application</button>

            <!-- <button type="button" class="btn btn-lg  btn-block" onclick="cyan.createNewApp(document.getElementsByName('appName')[0].value)">Create App</button> -->
        </div>
    </section>
    </ion-content>
    <ion-footer-bar align-title="center" class="bar-dark">
        <!-- <div id="bar bar-header bar-dark"> -->
            <a style="text-decoration:none" class="title" href="#/cyan/main-logged-panel"><p>Retour</p></a>
        <!-- </div> -->
    </ion-footer-bar>
</ion-view>