<ion-view view-title="create-App">
  <ion-header-bar class="cyan-header">
    <div class="hexagon">
      <span>
        <img src="img/logo-60x54.png" />
      </span>
    </div>
  </ion-header-bar>
  <ion-header-bar class="cyan-subheader" align-title="center">
    <h1 class="title">Créer une application</h1>
  </ion-header-bar>
  <ion-content class="has-cyan-header has-cyan-subheader">
    <section>
      <div id="social-login" class="col-xs-12 col-sm-12 social-login"></div>
    </section>
    <section class="row">

      <div class="alert alert-danger" role="alert" id="error_block" style="text-align:center;display:none;">
        <h2 style="height:0%">Erreur:</h2>
        <p id="error_message" style="height:0%"></p>
      </div>

      <div class="img-responsive"
           id="uploading"
           style="display:none;width:100px;height:69px;text-align:center;margin: 0 auto">
        <ion-spinner icon="android" class="spinner-energized"></ion-spinner>
        <br>Envoi en cours...
      </div>
    </section>
    <section>
      <form name="createAppForm" ng-submit="createApp()" novalidate>
        <label class="item item-input">
          <i class="icon ion-email placeholder-icon"></i>
          <input name="appName"
                 type="text"
                 placeholder="Nom de l'application"
                 ng-minlength="5"
                 ng-maxlength="40"
                 ng-model="appData.name"
                 required />
        </label>
        <div role="alert">
          <span class="error" ng-show="createAppForm.appName.$invalid && !createAppForm.appName.$pristine">
            <div class="alert alert-danger" role="alert">
              <h2 style="height:0%">Erreur:</h2>
              Nom de l'application incorrect
            </div>
          </span>
        </div>
        <div class="padding">
          <button type="submit" class="button button-block button-positive">Créer</button>
        </div>
      </form>
    </section>
  </ion-content>
  <ion-footer-bar align-title="center" class="bar-dark">
    <!-- <div id="bar bar-header bar-dark"> -->
    <a style="text-decoration:none" class="title" href="#/cyan/main-logged-panel"><p>Retour</p></a>
    <!-- </div> -->
  </ion-footer-bar>
</ion-view>
