<ion-view view-title="credentials-retrieval">

	<ion-content>
		<div id="main-logo-block">
		   	<div class="hexagon">
		       <span>
		           <img src="img/logo-60x54.png"/>
		       </span>
		    </div>
		    <div class="login">
		       <span>
		            <h1>Identifiants perdus ?</h1>
		       </span>
		    </div>
		</div>
		<section>
		<div id="social-login" class="social-login"></div>
	</section>
	<section >

		<div class="alert alert-danger" role="alert" id="error_block" style="text-align:center;display:none;">
			<h2 style="height:0%">Erreur:</h2>
			<p id="error_message" style="height:0%"></p>
		</div>

		<div class="img-responsive"  id="wait" style="display:none;width:100px;height:69px;text-align:center;margin: 0 auto">
			<ion-spinner icon="android" class="spinner-energized"></ion-spinner>
			<br>Chargement en cours...
		</div>
	</section>
	<section >
		<div class="list list-inset">
			<p style="text-align:center">Veuillez nous fournir l'adresse e-mail utilisee pour vous connecter, nous vous enverrons un nouveau mot de passe</p>
			<label class="item item-input">
		  		<i class="icon ion-email placeholder-icon"></i>
		    	<input name="emailrecovery" type="text" placeholder="eMail@exemple.com" ng-model="loginData.emailrecovery">
			</label>
		</div>
		<div class="padding">
			<button type="button" class="button button-block button-positive" ng-click="#">Envoyer</button>
		</div>
	</section>
	</ion-content>
	<ion-footer-bar align-title="center" class="bar-dark">
 		<!-- <div id="bar bar-header bar-dark"> -->
	        <a style="text-decoration:none" class="title" href="javascript:loadPageControler('cyan.signein')"><p>Annuler</p></a>
	    <!-- </div> -->
	</ion-footer-bar>
</ion-view>