<div>

	<div class="row">
		<div id="main-logo-block">
		   <div class="hexagon">
		       <span>
		           <img src="images/logo-60x54.png"/>
		       </span>
		    </div>
		    <div class="login">
		       <span>
		             <h1>Identifiants perdus ?</h1>
		       </span>
		    </div>
		</div>
	</div>

	<section class="row">
		<div id="social-login" class="col-xs-12 col-sm-12 social-login">
		<!-- <div id="social-login" class="col-xs-12 col-sm-12 social-login"> -->

		</div>
	</section>


	<section class="row">

		<div class="alert alert-danger" role="alert" id="error_block" style="text-align:center;display:none;">
			<h2 style="height:0%">Erreur:</h2>
			<p id="error_message" style="height:0%"></p>
		</div>

		<div class="img-responsive"  id="wait" style="display:none;width:69px;height:89px;text-align:center;margin: 0 auto">
			<img src='images/demo_wait.gif' width="64" height="64" />
			<br>Chargement...
		</div>

	</section>

	<section >
		<form class="form-horizontal">
        <p>Veuillez nous fournir l'adresse e-mail utilisee pour vous connecter, nous vous enverrons un nouveau mot de passe</p>
			<div class="form-group">
				<!--<label for="inputEmail3" class="col-sm-2 control-label">Email</label>-->
				<div class="input-group">
					<span class="input-group-addon" id="basic-addon1">
						<span id="ico-username" class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
					</span>
					<input  name="emailrecovery" type="email" class="form-control" id="emailrecovery" placeholder="eMail@exemple.com">
				</div>
			</div>
			<div class="form-group">
				<button type="button" class="btn btn-lg  btn-block" onclick="#">Envoyer</button>
			</div>
		</form>

	</section>
	<div class="row" >
    	<div id="main-footer">
        	<span>
        		<a href="javascript:$ionicGoBack();" data-transition="slide"><h2>Annuler</h2></a>
	        </span>
    	</div>
	</div>

</div>

<!--<a class="button" href="javascript:$.ui.goBack();" style="float:left;width:130px;">
    <img src="images/icon-back-128x128.png" style="float:left;height:30px;"/>
    <p>Get back</p>
</a>
</br></br></br>
</br></br></br>
<div style="text-align:center">
<h1>Credentials retrieval</h1>
<br>
<p>Please, provide the email address used for your account, and we will send you a new password.</p>
<br>
</div>
<input name="email" type="text" placeholder="email" />
<a class="button block green" href="#" id="login-submit">Send</a>
<div id="main-footer">
    <div id="main-footer-help">
        <a href="#help_credentials-retrieval-panel" data-transition="pop"><img src="images/icon-help.png" style="height:20px;"/></a>
    </div>
</div>
<div style="clear:both;"></div>-->
