<ion-view title="editor" view-title="editor">
  <ion-content>

    <nav>
      <ul class="cd-primary-nav">
        <li class="cd-label">Content</li>
        <!-- Edition content -->
        <li class="cd-footer">
          <button type="button" class="btn btn-info" ng-click="saveEditor()">
            Sauvegarder
          </button>
        </li>
      </ul>
    </nav>
    <!--<body style="min-height: 660px; cursor: auto;" class="edit">-->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <div class="nav-collapse collapse">
            <ul class="nav" id="menu-layoutit">
              <li>
                <div class="btn-group" data-toggle="buttons-radio">
                  <button type="button" id="edit" class="btn btn-success active">
                    <i class="icon ion-edit"></i>
                    Edit
                  </button>
                  <button type="button" class="btn btn-info" id="sourcepreview">
                    <i class="icon ion-search"></i>
                    Previsualiser
                  </button>
                </div>
                <div class="btn-group">
                  <button type="button" class="btn btn-success" id="addpage" editor-add-page>
                    <i class="icon ion-plus"></i>
                    Add
                  </button>
                  <button type="button" class="btn btn-success" editor-load-page>
                    <i class="icon ion-folder"></i>
                    Load
                  </button>
                  <button type="button" class="btn btn-danger" id="delpage">
                    <i class="icon ion-trash-a"></i>
                    Delete
                  </button>
                </div>
                <div class="btn-group">
                  <button type="button" class="btn btn-info" role="button" href ng-click="saveCurrentPage()">
                    <i class="icon ion-archive"></i>
                    Save
                  </button>
                </div>
                <div class="btn-group">
                  <button class="btn btn-danger" href ng-click="clearLayout()">
                    <i class="icon ion-close"></i>
                    Empty page
                  </button>
                </div>
              </li>
            </ul>
          </div>
          <!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <div id="container-body" class="container-fluid">
      <div class="changeDimension">
        <div class="row-fluid">
          <div>
            <div class="sidebar-nav">
              <!--<button type="button" class="btn btn-success" style="margin-left: 10px;">-->
              <!--<i class="icon-plus icon-white"></i>Add row-->
              <!--</button>-->
              <ul class="nav nav-list accordion-group">
                <li class="nav-header">
                  GRILLE
                </li>
                <li style="display: none;" class="rows" id="estRows">
                  <!-- 12 -->
                  <div class="lyrow ui-draggable" editor-row>
                    <a href="#close" class="remove label label-danger">
                      <i class="icon ion-close"></i>
                    </a>
                    <span class="drag label">
                      <i class="icon ion-arrow-move"></i>
                    </span>

                    <div class="preview">
                      <input value="12" type="text">
                    </div>
                    <div class="view">
                      <div class="row-fluid clearfix">
                        <div class="span12 column"></div>
                      </div>
                    </div>
                  </div>

                  <!-- 6 6 -->
                  <div class="lyrow ui-draggable" editor-row>
                    <a href="#close" class="remove label label-danger">
                      <i class="icon ion-close"></i>
                    </a>
                    <span class="drag label">
                      <i class="icon ion-arrow-move"></i>
                    </span>

                    <div class="preview">
                      <input value="6 6" type="text">
                    </div>
                    <div class="view">
                      <div class="row-fluid clearfix">
                        <div class="span6 column"></div>
                        <div class="span6 column"></div>
                      </div>
                    </div>
                  </div>

                  <!-- 8 4 -->
                  <div class="lyrow ui-draggable" editor-row>
                    <a href="#close" class="remove label label-danger">
                      <i class="icon ion-close"></i>
                    </a>
                    <span class="drag label">
                      <i class="icon ion-arrow-move"></i>
                    </span>

                    <div class="preview">
                      <input value="8 4" type="text">
                    </div>
                    <div class="view">
                      <div class="row-fluid clearfix">
                        <div class="span8 column"></div>
                        <div class="span4 column"></div>
                      </div>
                    </div>
                  </div>

                  <!-- 4 4 4 -->
                  <div class="lyrow ui-draggable" editor-row>
                    <a href="#close" class="remove label label-danger">
                      <i class="icon ion-close"></i>
                    </a>
                    <span class="drag label">
                      <i class="icon ion-arrow-move"></i>
                    </span>

                    <div class="preview">
                      <input value="4 4 4" type="text">
                    </div>
                    <div class="view">
                      <div class="row-fluid clearfix">
                        <div class="span4 column"></div>
                        <div class="span4 column"></div>
                        <div class="span4 column"></div>
                      </div>
                    </div>
                  </div>

                  <!-- 2 6 4 -->
                  <div class="lyrow ui-draggable" editor-row>
                    <a href="#close" class="remove label label-danger">
                      <i class="icon ion-close"></i>
                    </a>
                    <span class="drag label">
                      <i class="icon ion-arrow-move"></i>
                    </span>

                    <div class="preview">
                      <input value="2 6 4" type="text">
                    </div>
                    <div class="view">
                      <div class="row-fluid clearfix">
                        <div class="span2 column"></div>
                        <div class="span6 column"></div>
                        <div class="span4 column"></div>
                      </div>
                    </div>
                  </div>

                  <!-- 6 4 4 -->
                  <div class="lyrow ui-draggable" editor-row>
                    <a href="#close" class="remove label label-danger">
                      <i class="icon ion-close"></i>
                    </a>
                    <span class="drag label">
                      <i class="icon ion-arrow-move"></i>
                    </span>

                    <div class="preview">
                      <input value="6 4 4" type="text">
                    </div>
                    <div class="view">
                      <div class="row-fluid clearfix">
                        <div class="col-xs-6 span4 column"></div>
                        <div class="col-xs-6 span4 column"></div>
                        <div class="col-xs-6 span4 column"></div>
                      </div>
                    </div>
                  </div>

                  <!-- 9 3 -->
                  <div class="lyrow ui-draggable" editor-row>
                    <a href="#close" class="remove label label-danger">
                      <i class="icon ion-close"></i>
                    </a>
                    <span class="drag label">
                      <i class="icon ion-arrow-move"></i>
                    </span>

                    <div class="preview">
                      <input value="9 3" type="text">
                    </div>
                    <div class="view">
                      <div class="row-fluid clearfix">
                        <div class="col-xs-6 span9 column"></div>
                        <div class="col-xs-6 span3 column "></div>
                      </div>
                    </div>
                  </div>

                  <!-- 3 3 3 3 -->
                  <div class="lyrow ui-draggable" editor-row>
                    <a href="#close" class="remove label label-danger">
                      <i class="icon ion-close"></i>
                    </a>
                    <span class="drag label">
                      <i class="icon ion-arrow-move"></i>
                    </span>

                    <div class="preview">
                      <input value="3 3 3 3" type="text">
                    </div>
                    <div class="view">
                      <div class="row-fluid clearfix">
                        <div class="col-xs-3 span3 column"></div>
                        <div class="col-xs-3 span3 column "></div>
                        <div class="col-xs-3 span3 column"></div>
                        <div class="col-xs-3 span3 column"></div>
                      </div>
                    </div>
                  </div>

                  <!-- Input columns -->
                  <div class="lyrow ui-draggable" editor-row>
                    <a href="#close" class="remove label label-danger">
                      <i class="icon ion-close"></i>
                    </a>
                    <span class="drag label">
                      <i class="icon ion-arrow-move"></i>
                    </span>

                    <div class="preview">
                      <input value="Nested Columns" type="text" />
                    </div>
                    <div class="view">
                      <div class="row-fluid clearfix">
                        <div class="span12 column">
                          <div class="row-fluid clearfix">
                            <div class="span6 column">
                            </div>
                            <div class="span6 column">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
              <hr>
              <ul class="nav nav-list accordion-group">
                <li class="nav-header">PLUGINS DE BASE</li>
                <li style="display: list-item;" class="boxes" id="elmBase">
                  <div ng-repeat="plugin in plugins.basics"
                       ng-bind-html="plugin.BaseDOM | to_trusted"
                       class="box box-element ui-draggable"
                       editor-box>

                  </div>
                </li>
              </ul>
              <hr>
              <ul class="nav nav-list accordion-group">
                <li class="nav-header">
                  COMPOSANTS DE PAGE
                </li>
                <li style="display: list-item;" class="boxes" id="elmComponents">
                  <div ng-repeat="plugin in plugins.page"
                       ng-bind-html="plugin.BaseDOM | to_trusted"
                       class="box box-element ui-draggable"
                       editor-box>

                  </div>
                </li>
              </ul>
              <hr>
              <ul class="nav nav-list accordion-group">
                <li class="nav-header">
                  PLUGINS INTERACTIFS
                </li>
                <li style="display: list-item;" class="boxes mute" id="elmJS">
                  <div ng-repeat="plugin in plugins.interact"
                       ng-bind-html="plugin.BaseDOM | to_trusted"
                       class="box box-element ui-draggable"
                       editor-box>

                  </div>
                </li>
              </ul>
              <hr>
            </div>
          </div>
          <!--/span-->
          <div class="demo ui-sortable column" style="min-height: 304px; ">
          </div>
          <!-- end demo -->
          <!--/span-->

          <div id="download-layout">
            <div class="container-fluid"></div>
          </div>
        </div>
        <!--/row-->
      </div>
      <div class="modal hide fade" role="dialog" id="downloadModal">
        <div class="modal-header">
          <a class="close" data-dismiss="modal">×</a>

          <h3>Save</h3>
        </div>
        <div class="modal-body">
          <p>Choose how to save your layout</p>

          <div class="btn-group">
            <button type="button" id="fluidPage" class="active btn btn-info">
              <i class="icon-fullscreen icon-white"></i> Fluid
              Page
            </button>
            <button type="button" class="btn btn-info" id="fixedPage">
              <i class="icon-screenshot icon-white"></i> Fixed
              page
            </button>
          </div>
          <br>
          <br>

          <p>
            <textarea></textarea>
          </p>
        </div>
      </div>
    </div>
    <!--</body>-->
    <!--/.fluid-container-->
    <div class="modal hide fade" role="dialog" id="editorModal">
      <div class="modal-header"><a class="close" data-dismiss="modal">×</a>

        <h3>Save your Layout</h3>
      </div>
      <div class="modal-body">
        <p>
        </p>
      </div>
      <div class="modal-footer">
        <!--<a id="savecontent" class="btn btn-primary" data-dismiss="modal" editor-modal-content-save>Save</a>-->
        <a class="btn" data-dismiss="modal">Cancel</a>
      </div>
    </div>

  </ion-content>
  <ion-footer-bar align-title="center" class="bar-dark">
    <!-- <div id="bar bar-header bar-dark"> -->
    <!-- </div> -->
  </ion-footer-bar>
</ion-view>
