<ion-view view-title="list-apps-panel-content">
  <ion-content>
    <div id="main-logo-block">
      <button style="float:left;font-size:35px; padding-left:5px; color:grey;"
              class="button button-icon button-clear ion-navicon"
              menu-toggle="left">
      </button>
      <div class="hexagon">
        <span>
          <img src="img/logo-60x54.png" />
        </span>
      </div>
      <div class="login">
        <span>
          <p style="text-align:center;font-size:15px;">My&nbsp;Apps</p>
        </span>
      </div>
    </div>

    <button class="button button-block button-balanced icon ion-refresh" ng-click="currentUser.updateApps()">
    </button>

    <ion-list>
      <ion-item ng-repeat="(name, app) in currentUser.apps" can-swipe="true">
        {{ name }}

        <span
          ng-class="'badge ' + getBadgeClass(app)"
        >
          {{ app.stateName }}
        </span>
        <ion-option-button class="button-calm icon ion-edit" ng-click="editApp(app)"></ion-option-button>
        <ion-option-button ng-if="app.canCompile == true" class="button-balanced icon ion-hammer" ng-click="compileApp(app)"></ion-option-button>

        <ion-option-button ng-if="app.canPublish == true" class="button-royal icon ion-upload" ng-click="publishApp(app)"></ion-option-button>
      </ion-item>
    </ion-list>

  </ion-content>
  <ion-footer-bar align-title="center" class="bar-dark">
    <!-- <div id="bar bar-header bar-dark"> -->
    <a style="text-decoration:none" class="title" href ng-click="go('cyan.main-logged-panel')">
      <p>
        Retour
      </p>
    </a>
    <!-- </div> -->
  </ion-footer-bar>
</ion-view>
