<ion-view view-title="list-apps-panel-content">
  <ion-header-bar class="cyan-header">
    <div class="hexagon">
      <span>
        <img src="img/logo-60x54.png"/>
      </span>
    </div>
  </ion-header-bar>
  <ion-header-bar class="cyan-subheader" align-title="center">
    <h1 class="title">Mes applications</h1>
  </ion-header-bar>
  <ion-content class="has-cyan-header has-cyan-subheader">
    <ion-refresher on-refresh="refreshApps()">
    </ion-refresher>

    <!--<button class="button button-block button-balanced icon ion-refresh" ng-click="currentUser.updateApps()">-->
    <!--</button>-->

    <ion-list>
      <ion-item ng-repeat="(name, app) in currentUser.apps" can-swipe="true">
        {{ name }}

        <span
          ng-class="'badge ' + getBadgeClass(app)"
        >
          {{ app.stateName }}
        </span>
        <ion-option-button class="button-calm icon ion-edit" ng-click="editApp(app)"></ion-option-button>
        <ion-option-button ng-if="app.canCompile == true" class="button-balanced icon ion-hammer" ng-click="compileApp(app)"></ion-option-button>

        <ion-option-button ng-if="app.canPublish == true" class="button-royal icon ion-upload" ng-click="publishApp(app)"></ion-option-button>
        <ion-option-button class="button-assertive icon ion-trash-b" ng-click="removeApp(app)"></ion-option-button>
      </ion-item>
    </ion-list>

  </ion-content>
  <ion-footer-bar align-title="center" class="bar-dark">
    <!-- <div id="bar bar-header bar-dark"> -->
    <a style="text-decoration:none" class="title" href ng-click="go('cyan.main-logged-panel')">
      <p>
        Retour
      </p>
    </a>
    <!-- </div> -->
  </ion-footer-bar>
</ion-view>
