<div id="main-logged-panel-content">

    <div class="row">
        <div id="main-logo-block">
            <a href="javascript:$.ui.toggleLeftSideMenu()">
                <span style="float:left;font-size:35px; padding-left:5px; color:grey;" class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
            </a>
           <div class="hexagon2">
               <span>
                   <img src="images/logo-60x54.png"/>
               </span>
            </div>
            <div class="login">
               <span>
                      <p style="text-align:center;font-size:15px;">Bienvenue&nbsp;<span name="displayedUsername"></span></p>
               </span>
            </div>
        </div>
    </div>
    <ul class="list" id="main-menu-list">
        <li class="resizable-button">
            <a class="button" href="#applications-panel">
                <img src="images/icon-create-new-app.png" style="float:left;height:35px;"/>
                <p>Creer une nouvelle application</p>
            </a>
        </li>
        <li class="resizable-button">
            <a class="button" href="#applications-panel">
                <span class="glyphicon glyphicon-list" aria-hidden="true" style="float:left;font-size:27px;"></span>
                <p>Voir mes applications existantes</p>
            </a>
        </li>
    </ul>
    <div class="row" >
        <div id="main-footer">
            <div id="main-footer-help">
                <a href="#help_main-logged-panel" data-transition="pop"><img src="images/icon-help.png" style="height:20px;"/></a>
            </div>
        </div>
    </div>
</div>
<div style="clear:both;"></div>
