<ion-view view-title="SignUp">

	<ion-content>
		<div id="main-logo-block">
		   	<div class="hexagon">
		       <span>
		           <img src="img/logo-60x54.png"/>
		       </span>
		    </div>
		    <div class="login">
		       <span>
		             <h1>Inscription</h1>
		       </span>
		    </div>
		</div>
		
		<div id="social-login" class="social-login"></div>
		<div class="alert alert-danger" role="alert" id="error_block" style="text-align:center;display:none;">
			<h2 style="height:0%">Erreur:</h2>
			<p id="error_message" style="height:0%"></p>
		</div>
		<div class="img-responsive"  id="wait" style="display:none;width:100px;height:69px;text-align:center;margin: 0 auto">
			<ion-spinner icon="android" class="spinner-energized"></ion-spinner>
			<br>Chargement en cours...
		</div>
	
	<section >
		<div class="list list-inset">
			<label class="item item-input">
		  		<i class="icon ion-email placeholder-icon"></i>
		    	<input name="signUpUserName" type="text" placeholder="Nom d'utilisateur" ng-model="loginData.signUpUserName">
			</label>
			<label class="item item-input">
		  		<i class="icon ion-locked placeholder-icon"></i>
		    	<input name="signUpPassword" type="password" placeholder="Mot de passe" ng-model="loginData.signUpPassword">
		 	</label>
		 	<label class="item item-input">
		  		<i class="icon ion-locked placeholder-icon"></i>
		    	<input name="signUpRepassword" type="password" placeholder="Retapez le mot de passe" ng-model="loginData.signUpRepassword">
		 	</label>
		 	<ion-toggle ng-model="loginData.saveIdLogin" toggle-class="toggle-calm">Se souvenir des indentifiants</ion-toggle>
		</div>
		<div class="padding">
			<button type="button" class="button button-block button-positive" ng-click="#">S'inscrire</button>
		</div>
		<!-- <div class="form-group">
				<button type="button" class="btn btn-lg  btn-block disabled" disabled="disabled" onclick="cyan.userIdentification(document.getElementsByName('username')[0].value, document.getElementsByName('password')[0].value)">S'inscrire</button>
			</div> -->
	</section>
	</ion-content>
	<ion-footer-bar align-title="center" class="bar-dark">
 		<!-- <div id="bar bar-header bar-dark"> -->
	        <a style="text-decoration:none" class="title" href="javascript:loadPageControler('cyan.signein')"><p> Annuler</p></a>
	    <!-- </div> -->
	</ion-footer-bar>
</ion-view>

<!-- 
<script>

    $("#signUpRepassword").keyup(function(){

    	var username = $("#signUpUserName").val();
        var second = $(this).val();
        var first = $("#signUpPassword").val();

	    if( (first == second) && !(username == '')) {
            $("button").removeAttr("disabled");
            $("button").attr("class", "btn btn-lg  btn-block");
            $("#ico-pass").attr("class", "glyphicon glyphicon-lock");

        } else {
            $("button").attr("disabled", "disabled");
            $("#ico-pass").attr("class", "glyphicon glyphicon-lock pass-error");
        }
    })

</script> -->